* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  background-color: #548bfa;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  color: #293264;
}

#root {
  background-color: #f5f7fb;
  min-height: 95vh;
  width: 95%;
  border-radius: 15px;
  margin: 15px auto;
  /* border: 2px solid black; */
}

.container {
  min-height: 95vh;
  /* border: 2px solid orchid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: center;
  /* border: 2px solid red; */
}

.intro--title {
  font-size: 3rem;
  margin-bottom: 0;
}

.intro--desc {
  font-size: 1.3rem;
  margin-bottom: 5em;
}

.btn {
  border: none;
  background: #4d5b9e;
  color: #f5f7fb;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  padding: 1em 3.4em;
  cursor: pointer;
}
.btn:hover {
  background: #f5f7fb;
  color: #4d5b9e;
  box-shadow: inset 0 0 0 2px #4d5b9e;
}

.btn:active {
  background: #4d5b9e;
  color: #f5f7fb;
}

.btn-intro {
  font-size: 1.3rem;
  border-radius: 20px;
  letter-spacing: 1.2px;
}

/* Questions */
.question-container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid pink; */
  width: 100%;
}

.question-wrapper {
  width: inherit;
  text-align: center;
  /* border: 2px solid green; */
}

.answer {
  border: 2px solid #4d5b9e;
  margin-bottom: 0.5em;
  width: 100%;
  padding: 0.5em;
  border-radius: 15px;
  cursor: pointer;
}

.question--title:first-of-type {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.answers-container {
  width: 50%;
  /* border: 2px solid red; */
}

.btn-check {
  margin-top: 70px;
  font-size: 1.1rem;
  border-radius: 20px;
}

.correct {
  background-color: green;
}

.incorrect {
  background: red;
}

@media (min-width: 950px) {
  .answers-container {
    display: flex;
    width: 100%;
  }

  .answer + .answer {
    margin-left: 15px;
  }
}
